<div class="container">
  <h2>Sobre mim</h2>
  <p>Sou Rafael Lopes, de Joinville, SC, estudante de
    Engenharia de Software no 5º semestre pela
    Uniasselvi. Desde agosto de 2022, venho
    aprimorando minhas habilidades em programação,
    com cursos concluídos em Back End (Java), PHP e
    C#. Atualmente, participo de um curso fullstack
    Javascript e estou me aprofundando em Java e
    Angular. Tenho experiência prática com várias
    tecnologias, como HTML5, CSS3, React, Angular, Git,
    Javascript, Typescript, NodeJs, PostgreSQL e
    MongoDB. Disponível para trabalho presencial,
    híbrido ou remoto, busco contribuir para o sucesso
    de sua equipe. Também estou estudando inglês,
    com conclusão prevista para dezembro de 2025.</p>
  <h2>Conhecimentos</h2>
  <ul>
    @for(item of arrayKnowledge(); track item) {
      <li>
        <img [src]="item.src"
        [alt]="item.alt"
        loading="lazy"
        width="22px"
        height="24px"
        />
      </li>
    }
  </ul>
</div>
